body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('/static/main/img/loginfon1.jpg'); /* Замените 'path/to/your/image/' на путь к вашей картинке */
    background-size: cover;
}

.signup-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}

.signup-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.signup-form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #0056b3;
}
